[
  (
    name: "Beginner",
    width: 9,
    height: 9,
    mines: 10,
  ),
  (
    name: "Intermediate",
    width: 16,
    height: 16,
    mines: 40,
  ),
  (
    name: "Expert",
    width: 30,
    height: 16,
    mines: 99,
  ),
]