(
    stars: {
        "hk_03": 3,
        "bj_01": 3,
        "sh_01": 3,
        "hk_01": 3,
        "gy_01": 3,
        "cd_03": 3,
        "cd_02": 3,
        "sh_03": 3,
        "sh_02": 3,
        "bj_03": 3,
        "cd_01": 3,
        "gy_02": 3,
        "hk_02": 3,
        "bj_02": 3,
        "gy_03": 3,
    },
    tree: (
        gold: 21653.0,
        purchased: [
            "unit_hp_1",
            "fortress",
            "fire_rate_1",
            "root",
            "unit_speed",
            "turret_dmg_2",
            "catapult_range_1",
            "tower_regen",
            "mana_regen_1",
            "gold_per_kill",
            "mana_on_kill",
            "mana_cap",
            "gold_per_kill_2",
            "unlock_healer",
            "catapult_rebuild",
            "unlock_archer",
            "catapult_hp_1",
            "unlock_hero",
            "tower_regen_2",
            "unit_hp_2",
            "turret_dmg_1",
            "gold_per_kill_3",
            "catapult_range_2",
            "turret_crit",
            "tower_hp_3",
            "multi_shot",
            "tower_hp_2",
            "unlock_bomber",
            "tower_hp_1",
        ],
    ),
)